:root {
    /**Cores padrão */
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    /* Modificar a s mediadas do rem */
}

#page-landing {
    background-color: var(--color-primary);
}

#page-landing #container {
    color: var(--color-text-in-primary);
}

.logo-container img {
    height: 10rem;
}

.logo-container {
    text-align: center;
    margin-bottom: 0.2rem;
    /**3.2rm */
}

.logo-container h2 {
    font: 500;
    font-size: 3.6rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.hero-image {
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    font: 700 2.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    color: var(--color-button-text);
}

.buttons-container a img {
    width: 4rem;
    margin-right: 2.4rem;
}

.buttons-container a.study {
    background: var(--color-primary-lighter);
}

.buttons-container a.study:hover {
    background: var(--color-primary-light);
}

.buttons-container a.give-classes {
    background: var(--color-secondary);
    margin-right: 0rem;
}

.buttons-container a.give-classes:hover {
    background: var(--color-secondary-dark);
}

.total-connections {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 0.8rem;
}


/**Interface desktop */

@media (max-width: 699px) {
     :root {
        font-size: 40%;
    }
}


/**Aqui verifica se a largura estã acima de 1100px , caso esteja irá aplicar o que tem dentro do  {} */

@media (min-width: 1100px) {
    #page-landing #container {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        /**Posições estratégicas */
        grid-template-areas: "proffy image image" "button button texting";
        /** */
        column-gap: 87px;
        row-gap: 87px
        /* gap: 60px; */
    }
    .logo-container {
        grid-area: proffy;
        text-align: initial;
        align-self: center;
    }
    .logo-container img {
        height: 100%;
        height: 127px;
        margin: 0;
    }
    .hero-image {
        grid-area: image;
        height: 350px;
    }
    .buttons-container {
        grid-area: button;
        justify-content: flex-start;
        margin: 0;
    }
    .total-connections {
        grid-area: texting;
        justify-self: end;
        font-size: 1.2rem;
    }
}